{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<form method="POST">

    {{ form.hidden_tag() }}
    
        {% for field in form
                if field.widget.input_type != 'hidden' %}
        <p>
    
            {{ field }}
            {{ field.label }}
    
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
    
        </p>
        {% endfor %}
    
        <button>Login</button>
    
</form>

{% endblock %}